<!-- <button id="increment" (click)="increment()">Increment</button>
<div>Current Count: {{ count$ | async }}</div>
<button id="decrement" (click)="decrement()">decrement</button>
<button id="reset" (click)="reset()">Reset Counter</button> -->

<div class="container">
  <div class="calculator">
    <form>
      <div type="text" name="display" style="background-color: aqua;">{{ (count$ | async)?.curentnumber }}</div>
      <div class="buttons">
        <input type="button" id="seven" value ="7" (click)="seven(7)">
        <input type="button" id="eight" value="8"(click)="seven(8)">
        <input type="button" id="nine" value="9"(click)="seven(9 )">
        <input type="button" id="division" value="/"(click)="seven('/')"><br>

        <input type="button" id="four" value="4"(click)="seven(4)">
        <input type="button" id="five" value="5"(click)="seven(5)">
        <input type="button" id="six" value="6"(click)="seven(6)">
        <input type="button" id="multi" value="*"(click)="seven('*')"><br>

        <input type="button" id="one" value="1"(click)="seven(1)">
        <input type="button" id="two" value="2"(click)="seven(2)">
        <input type="button" id="three" value="3"(click)="seven(3)">
        <input type="button" id="sub" value="-"(click)="seven('-')"><br>

        <input type="button" id="zero" value="0"(click)="seven(0)">
        <input type="button" id="del" value="C"(click)="seven(0)">
        <input type="button" id="equal_sign" value="=">
        <input type="button" id="plus" value="+"(click)="seven('+')"><br>
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>